{%  extends 'base/base.html' %}

{% block titulo %}
    Persona
{% endblock %}


{% block contenido %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Dni</td>
                <td>Sexo</td>
                <td>Fecha Nacimiento</td>
                <td>Correo Electronico</td>
                <td>Categoria</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {% for persona in object_list %}
            <tr>
                <td>{{persona.id}}</td>
                <td>{{persona.nombre}}</td>
                <td>{{persona.apellido}}</td>
                <td>{{persona.dni}}</td>
                <td>{{persona.sexo}}</td>
                <td>{{persona.fecha_nac}}</td>
                <td>{{persona.correo_electronico}}</td>
                <td><div><img src="{{persona.categoria.image}}"></div>
                    <div>{{ persona.categoria.name }}</div></td>
                <td>
                    <a class="btn btn-primary" href="{% url 'persona:update_persona' persona.id%}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'persona:delete_persona' persona.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}

            {% else %}
            <h1>No hay registros de mascotas</h1>
            {% endif %}
        </tbody>
    </table>
    <ul class="pager">
        <li>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            </li>
        <li>
            {% if page_obj.has_next %}
             <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </li>
    </ul>
{% endblock %}