{%  extends 'base/base.html' %}

{% block titulo %}
    Persona
{% endblock %}


{% block contenido %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Dni</td>
                <td>Sexo</td>
                <td>Fecha Nacimiento</td>
                <td>Correo Electronico</td>
                <td>Categoria</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {% for persona in object_list %}
            <tr>
                <td>{{persona.id}}</td>
                <td>{{persona.nombre}}</td>
                <td>{{persona.apellido}}</td>
                <td>{{persona.dni}}</td>
                <td>{{persona.sexo}}</td>
                <td>{{persona.fecha_nac}}</td>
                <td>{{persona.correo_electronico}}</td>
                <td>{{persona.categoria.name}}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'persona:list_persona'%}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'persona:list_persona' %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}

            {% else %}
            <h1>No hay registros de mascotas</h1>
            {% endif %}
        </tbody>
    </table>
{% endblock %}